.App {
  text-align: center;
  padding-top: 5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.random {
  background-color: aqua;
  width: 45vw;
  min-width: 400px;
  /* min-height: 400px;
  height: 65vh; */
  margin: auto;

}

.random-empty {
  height: 10vh;
  min-height: 75px;
  background-color: blue;
}
.random-img {
  display: flex;
  justify-content: center;
  margin-top: -3rem;
}
.random-icon {
  display: flex;
  justify-content: space-evenly;
}

.random-button {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}
.random-table {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.random-table-div {
  width: 80%;
  padding: 1rem;
  word-wrap: break-word;
  /* border: 1px solid black; */
}
thead *{
  /* border: 1px solid black;  */
  background-color: rgb(255, 200, 98);
  gap: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

th {
  margin: 2rem;
}